:root {
  --VeryDarkGrayishBlue: #101828;
  --DarkGrayishBlue: #1D2939;
  --VeryGrayishBlue: #344054;
  --GrayishBlue: #475467;
  --VeryGrayish: #667085;
  --Grayish: #98A2B3;
  --VeryGray: #D0D5DD;
  --Gray: #EAECF0;
  --VveryWhitishGray: #F2F4F7;
  --VeryWhitishGray: #F9FAFB;
  --WhitishGray: #FCFCFD;
  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  background-color: black;
}